@media(prefers-color-scheme: dark) {
  * {
    background: #000;
    color: white;
  }
}

/*DEFINE FONT FAMILY*/
@font-face {
  font-family:'S-T';
  src: url(fonts/SairaCondensed-Light.ttf);

}
* {
  -webkit-font-smoothing: antialiased;
}

hr {
  position : relative;
  right: 40%;
  width: 20%;
  height: 0.5px;
  border-radius: 40%;
  background-color: #969696;
}
/* Définition du header */
header nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
}

header nav ul {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    margin-left: 0%;
	width: 100%;
	height: 6em;
    
}

header nav ul li{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    position: center;
    left: 20;
	list-style: none;
	padding: 0 4%;
	font-size: 28px;
}

header nav a {
	color: #efefefef;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
}

header nav a:hover {
	border-top: solid #c50000;
    justify-content: center;
	border-radius: 3px;
	border-width: 3px;
    transform: translateY(-12px);
	padding-top: 10.5px;
} 

header img {
    position: absolute;
    width: 4%;
    border-radius: 100%;
    border: 2px solid #c50000;
    top: 9%;
    left: 2%;
}

/*Définition Main*/

main {
  font-family: ;
  margin: 10%;

}

#hello {
  position: relative;
  bottom : 40%;
  left: 40%;
}
h4 {
  font-family: 'S-T';
  font-style: oblique;
  color: grey;
}

code {
    color: red;
    padding: 0.2em;
    border-radius: 0.2em;
}

#border {
  border-left: 6px solid #c50000;
}


div h3,h6 {
  line-height: 1px;
  font-family: 'S-T';
}

div h6{
  color: grey;
  font-style: oblique;
}

#Compétences {
  position: relative;
  color: #c50000;
}




























































































svg {
  width: 2%;
}
/* Définition de la scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: rgb(197, 255, 255);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: rgb(197, 0, 0);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(197, 0, 0);
}

/*
#bouton {
    position: relative;
    display: block;
    width: 200px;
    height: 100px;
    border-radius: 100px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 1),
                inset 0 8px 8px rgba(0, 0, 0, 1),
                inset 0 -4px 4px rgba(0, 0, 0, 1);
}

#bouton .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.5s;

}

#bouton .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.5s;

}
.DarkMode {
  appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}

.darkMode:checked {
  background: #333;
}

.dark {
  color: white;
  background: #444;
}