@media(prefers-color-scheme: dark) {
  body {
    background: #000;
    color: white;
  }
}

/*DEFINE FONT FAMILY*/
@font-face {
  font-family:'S-T';
  src: url(fonts/SairaCondensed-Light.ttf);

}

* {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  user-select: none;
}

hr {
  position : relative;
  right: 40%;
  width: 20%;
  height: 0.5px;
  border-radius: 40%;
  background-color: #969696;
}
/* Définition du header */
header {
  position: fixed;
  background-color: #0000008c;
  top: 0;
  left: 0;
  width: 100%;
  height: 6em;
  z-index: 1;
}

header nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
}

header nav ul {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    margin-left: 0%;
	width: 100%;
	height: 6em;
    
}

header nav ul li{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    position: center;
    left: 20;
	list-style: none;
	padding: 0 4%;
	font-size: 28px;
}

header nav a {
	color: #efefefef;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
}

header nav a:hover {
  border : 1px solid transparent;
  border-image: linear-gradient(to right, #C0FBFF, #8FF2FF, #70EBFF, #53E4FF, #67A4FF) 1 0 0 0 stretch;

  justify-content: center;
	border-radius: 3px;
	border-width: 3px;
  transform: translateY(-12px);
	padding-top: 10.5px;
} 

header img {
    position: absolute;
    width: 4%;
    /* border avec linear-gradient */
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #C0FBFF, #8FF2FF, #70EBFF, #53E4FF, #67A4FF) border-box;
  border-radius: 50em;
  border: 2px solid transparent;

  top: 9%;
  left: 2%;
}

/*Définition Main*/

main {
  font-family: 'S-T';
  margin: 10%;

}

#hello {
  font-size: 1em;
  background: linear-gradient(120deg,#67A4FF, #8e44ad);
  background-size: 200% 200%;
  animation: color 2s ease-in-out infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color .2s ease-in-out;
  font-weight: bolder;
  text-align: center;
  margin-top: 5%;
  z-index: -1;

}

@keyframes color{ 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

/* Vidéo */
#Vid {
  z-index: inherit;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100px;
  /* Couvre juste l'article hello */ 
}

#hello hr {
  position : relative;
  left: 0.4%;
  width: 20%;
  height: 0.5px;
  border-radius: 40%;
  background-color: #969696;
}


h4 {
  font-family: 'S-T';
  font-style: oblique;
  color: grey;
}

code {
    color: red;
    padding: 0.2em;
    border-radius: 0.2em;
}

#border {
  background:
  
              linear-gradient(to right, #C0FBFF, #8FF2FF, #70EBFF, #53E4FF, #67A4FF) 0 0 1 0 stretch;
}


div h3,h6 {
  line-height: 1px;
  font-family: 'S-T';
}

div h6{
  color: grey;
  font-style: oblique;
}

#Compétences {
  position: relative;
  color: #c50000;
}





























































































svg {
  width: 2%;
}
/* Définition de la scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: #4242428c;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #C0FBFF, #8FF2FF, #70EBFF, #53E4FF, #67A4FF);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, #C0FBFF, #8FF2FF, #70EBFF, #53E4FF, #67A4FF);
}
